.root
{
	-fx-background-color: white;
}


 .button
{
	-fx-background-color: #5490ff;	
	-fx-background-radius: 22;
	-fx-text-fill: white;
	-fx-border-color: #5490ff;
	-fx-border-radius: 22;
	-fx-border-width: 3;
}

.button:hover 
{
     -fx-background-color: white;
     -fx-text-fill: #5490ff;
}

.button:pressed
{
	-fx-rotate: 10;
}

.tab-pane .tab-header-area .tab-header-background 
{
    -fx-opacity: 0.0;
}

.tab-pane
{
    -fx-tab-min-width:90.0px;
}

.tab
{
    -fx-background-insets: 0.0 1.0 0.0 1.0,0.0,0.0;
}
.tab-pane .tab
{
    -fx-background-color: #5490ff;
}

.tab-pane .tab:selected
{
    
    -fx-background-color: #e9e7e7;
}

.tab-content-area 
{	
	-fx-background-color: linear-gradient(#e9e7e7,#9fa4a0);
}

.tab-content-area .label 
{	
	-fx-text-fill: #5490ff;
    -fx-font-weight: bold;
    -fx-font-size: 16.0px;
}

.tab .tab-label 
{ 
	-fx-alignment: center-right;
    -fx-text-fill: WHITE;
    -fx-font-size: 16.0px;
}

.tab:selected .tab-label 
{ 
    -fx-alignment: CENTER;
    -fx-text-fill: #5490ff;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
      -fx-shape: "M300,290 L310,168 L410,168 L421,290 L300,290 z";
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-shape: "M300,290 L310,168 L410,168 L421,290 L300,290 z";
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}  

.header-section {
    -fx-padding: 10.0px;
    -fx-font-size: 20.0px;
}

.header-section .label .text {
    -fx-fill: #ffffff;
    -fx-stroke: #5490ff;
    -fx-stroke-width: 2.0px;
}

.header-section .label { 
    -fx-padding: 10.0px;
}

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(white, grey);
}

.table-row-cell:selected {
    -fx-background-color: #005797 ;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}