 .button
{
	-fx-background-color: #bfbfbf;	
	-fx-background-radius: 22;
	-fx-text-fill: white;
	-fx-border-color: teal;
	-fx-border-radius: 22;
	-fx-border-width: 3;
}

.button:hover 
{
     -fx-background-color: white;
     -fx-text-fill: teal;
}

.button:pressed
{
	-fx-rotate: 10;
}

.loginButton 
{
	-fx-font-size: 16;
	-fx-font-weight: bold;
}

.settingsButton
{
	-fx-border-color: white ;
	-fx-background-color: transparent ;
	-fx-background-radius: 5em; 
	-fx-min-width: 40px;  
    -fx-min-height: 40px;
    -fx-max-width: 40px; 
    -fx-max-height: 40px;
}

.settingsButton:hover
{
	-fx-background-color: transparent ;
}

.text-field{
	-fx-border-radius: 10.0 10.0 10.0 10.0;
  	-fx-background-radius: 10.0 10.0 10.0 10.0;
} 

.label
{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-effect: dropshadow( gaussian , grey , 0,0,1,2 );
}

.root
{
	-fx-background-color: white;
}

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(grey,white);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: teal;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}