 .button
{
	-fx-background-color: #5490ff;	
	-fx-background-radius: 22;
	-fx-text-fill: white;
	-fx-border-color: #5490ff;
	-fx-border-radius: 22;
	-fx-border-width: 3;
}

.button:hover 
{
     -fx-background-color: white;
     -fx-text-fill: #5490ff;
}

.button:pressed
{
	-fx-rotate: 10;
}

.loginButton 
{
	-fx-font-size: 16;
	-fx-font-weight: bold;
}

.settingsButton
{
	-fx-border-color: white ;
	-fx-background-color: transparent ;
	-fx-background-radius: 5em; 
	-fx-min-width: 40px;  
    -fx-min-height: 40px;
    -fx-max-width: 40px; 
    -fx-max-height: 40px;
}

.label
{
    -fx-text-fill: #5490ff;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.root
{
	-fx-background-color: white;
}
